doctype html
html(lang='ru')
    head
        | !{title}

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(property='og:url', content=url)

        | !{meta}

        link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
        link(rel='apple-touch-icon', href='/apple-touch-icon.png')
        link(rel='manifest', href='/manifest.json')

        | !{assets.styleTags}
        | !{assets.linkTags}
        | !{link}

    body(onbeforeunload='')
        div#root !{app}
        div#modal

        script(type='text/javascript')
            | window.__initialData__ = !{initialData};
            | window.__data__ = !{data};

        | !{assets.scriptTags}

        if needCounters
            script(type='text/javascript')
                include counters/yaMetrica.js

            script(type='text/javascript')
                include counters/gTag.js

            script(type='text/javascript')
                include counters/vk.js

            script(type='text/javascript')
                include counters/facebook.js

            noscript
                // Яндекс.Метрика
                img(src='https://mc.yandex.ru/watch/49126414', style='position:absolute; left:-9999px;', alt='')
                // ВК
                img(src='https://vk.com/rtrg?p=VK-RTRG-245296-ebffg', style='position:fixed; left:-999px;', alt='')
                // Facebook
                img(src='https://www.facebook.com/tr?id=622371654798982&ev=PageView&noscript=1', height='1', width='1', style='display:none', alt='')

            script(type='text/javascript', src='https://www.googletagmanager.com/gtag/js?id=UA-120219094-1', async)

        script(type='text/javascript', src='https://yastatic.net/share2/share.js', async)

