doctype html
html(lang='ru')
    head
        | !{title}

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        | !{meta}

        link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
        link(rel='apple-touch-icon', href='/apple-touch-icon.png')
        link(rel='manifest', href='/manifest.json')

        link(rel='stylesheet', href=assets.css.main, type='text/css')
        each chunk in assets.css.chunks
            link(rel='stylesheet', href=chunk.publicPath, type='text/css')

        | !{link}

    body(onbeforeunload='')
        div#root !{app}
        div#modal

        if initialData
            script(type='text/javascript')
                | window.__initialData__ = !{initialData} || {};

        if assets.js
            script(src=assets.js.runtimeMain)
            each vendor in assets.js.vendors
                script(src=vendor)
            each chunk in assets.js.chunks
                script(src=chunk.publicPath)
            script(src=assets.js.main)

    //
        Timings: !{timings}
