doctype html
html(lang='ru')
    head
        | !{title}

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        meta(property='og:url', content=url)
        // TODO Унести в настройки страницы
        meta(property='og:image', content=logo152x152)
        // TODO Унести в настройки страницы
        meta(property='og:image:alt', content='Логотип')
        meta(property='og:type', content='website')

        | !{meta}

        link(rel='shortcut icon', href=favicon, type='image/x-icon')
        link(rel='apple-touch-icon', href=logo152x152)

        | !{assets.styleTags}
        | !{assets.linkTags}
        | !{link}

        style(data-emotion-css=cssIds.join(' '))
            | !{css}

        if code.head
            | !{code.head}

    body()
        div#root !{app}
        div#modal

        script(type='text/javascript')
            | window.__data__ = !{data};
            | window.__settings__ = !{settings};

        | !{assets.scriptTags}

        if code.body
            | !{code.body}

        if needShareScript
            script(type='text/javascript', src='https://yastatic.net/share2/share.js', async)

        if pageId
            script.
                if (document.cookie.includes('auth=true')) {
                    var a = document.createElement('a');
                    a.appendChild(document.createTextNode('✐'));
                    a.style.cssText='position:fixed;bottom:16px;left:16px;background:#000;padding:4px 8px;border-radius:10px;font-size:12px;color:#fff;'
                    a.href = '/admin/pages/page-!{pageId}';
                    document.body.appendChild(a);
                }

